.shop{
    margin-top: -16px;
}
.searchbar{
    background-color: rgb(179, 179, 179);
    padding: 25px;
    padding-bottom: 35px;
    
}
#inputFild{
    width: 75%;
    padding: 8px;
    border: none;
    border-radius: 6px;
}
.shopping_cart{
    font-size: 30px;
    margin-left: 34px;
    color: rgb(189, 135, 0);
}