*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background-color: rgb(179, 179, 179);
}
.menu img{
    width: 15%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
.menu ul li{
    list-style: none;
    line-height: 65px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(207, 64, 11);
    font-size: 25px;
    margin-right: 10px;
    padding: 20px;
}
.menu ul li a:hover{
    background-color: rgb(21, 21, 32);

}